// Colors 

:root {
    --blue: #5e92c2;
    --light-blue: #96c8fb;
    --sky-blue: #d6f4ff;
    --orange: #e79b0de3;
    --light-orange: #ffa600;
    --white: #ffffff;
    --red: #FA2319;
}

// Breakpoints 

$breakpoints: (
    "mobile": 576px,
    "tablet": 768px,
    "desktop": 1024px
);